.customers__response {
  font-size: 12px;
  line-height: calc(30.6 / 12);
  color: $text-color;
  width: 280px;
  height: 256px;
  background-color: #84a178;
  border-radius: 10px;
  padding: 35px 39px;
  margin-bottom: $gap;

  @include dq(only-tablet) {
    width: 705px;
    height: 138px;
  }

  @include dq(desktop) {
    width: 968px;
    height: 138px;
  }
}
