$hero-color: #84A178;
$text-color: #FCFCFC;
$title-color: #131313;
$swiper-color: #D9D9D9;
$gap: 32px;

// ------------ Breakpoints -----------
$phone: 320px;
$tablet: 768px;
$desktop: 1200px;

@mixin dq($device) {
  @if $device == "phone" {
    @media screen and (min-width: $phone) {
      @content;
    }
  } 
  @if $device == "only-phone" {
    @media screen and (max-width: #{$tablet - 0.02}) {
      @content;
    }
  } 
  @if $device == "only-tablet" {
    @media screen and (min-width: $tablet) and (max-width: #{$desktop - 0.02})
     {
      @content;
    }
  }

  @if $device == "desktop" {
    @media screen and (min-width: $desktop) {
      @content;
    }
  } 
}